#profile_pic {
  margin: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#logo {
  align-self: center;
  font-size: bold;
}

#portfolio_title {
  background-color: #dd4d35;
  padding: 50px;
  font-size: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: montserrat;
}

#about_me {
  padding: 40px;
  font-family: montserrat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexcontainer {
  display: flex;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 30px;
}

.flexcontainer {
  flex-wrap: nowrap;
}