/*STYLING*/
body {
  margin: 0;
  font-family: montserrat;
}

#profile_pic {
  margin: 30px;
  width: 300px;
  height: 300px;
  border-radius: 20%;
  border: 100px black;
  padding: 10px;
}

#name_text {
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 0;
}

#navbar {
  background-color: #dd4d35;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  font-weight: bold;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clickables a {
  color: white;
  text-decoration: none;
  font-weight:600;
  transition: color 0.2s ease-in;
}

#clickables a:hover {
  color:#000000 ; 
  text-decoration: underline;
}

#intro_div {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 100px;
  padding-bottom: 10px;
}

#intro_text {
  padding: 60px;
  color: black;
  font-size: 20px;
}

#navbar a {
  margin: 0 10px; 
}

#navbar #personal_logo {
  width: 80px;
  height: auto;
}

#personal_logo {
  width: 120px;
  margin-left: auto;
}

#skills_auto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  margin: 0;

  font-size: 20px;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#all_elements_proj {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
  border-radius: 4%;
  font-size: 20px;
  background-color: #dd4d35;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

#icons img {
  max-width: 50px;
  max-height: 50px;
  transition: filter 0.2s ease-in;
}

#icons img:hover {
  filter: brightness(0);
}

#projects_title {
  display: flex;
  justify-content: center;
  
  margin: 30px;
  color: #dd4d35;
  font-size: 40px;
  transition: color 0.3s ease-in;

}

#projects_title:hover {
  color:#000000 ; 
}

#main_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#logo_prog {
  width: 310px;
  height: 310px;
  margin: 0;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-left: 90px;
  padding-right: 90px;
}

#stat_prog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: montserrat, sans-serif;

  border: 2px black;
  margin-bottom: 40px;
}

#stat_dis {
  width: 500px;
  height: auto;

  padding-left: 60px;
}

#technologies img {
  width: 180px;
  height: auto;
  margin-right: 10px;
  border: 2px black;
  font-family: montserrat, sans-serif;

  transition: filter 0.1s ease-in;
}

#technologies img:hover {
  filter: brightness(40%);
}

#about_me {
  margin: 50px;
  margin-top: 90px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

#footer {
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

#return {
  display: flex;
  justify-content: center;
  transition: color 0.2s ease-in;
  color: #000;
}

#return a:hover {
  text-decoration: underline;
}

hr {
  height: 2px;
  margin-top: 30px;
  background-color: black;
}

.titles {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0px;


  color: #dd4d35;
  font-size: 40px;
  transition: color 0.3s ease-in;
}

.titles:hover {
  color:#000000 ; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexcontainer {
  width: 600px;
  height: 300px;
  border: 2px;
  padding: 3px;
  margin: 30px;
  color: white;
  font-size: 23px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexcontainer {
  flex-wrap: nowrap;
}